.welcomeCSS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://fast-food-self-checkout-api.onrender.com/welcomeCover.jpg');
    background-size: cover;
    background-position: center;
}